body {
	background-color: #212124
}
h1 {
	font-family: Arial;
	font-size: 3em;
	text-align:center;
	color: #FFFFFF;
}

h2 {
	font-family: Arial;
	font-size: 2em;
	color: #FFFFFF;
}

p {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 1.5em;
}

#pythonID {
	font-family: Arial;
	color: #64D338;
	font-size: 1.3em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

a {
	font-size: 1.3rem;
}

#jsID {
	font-family: Arial;
	color: #3966E8;
	font-size: 1.3em;
}

#swiftID {
	font-family: Arial;
	color: #EE8528;
	font-size: 1.3em;
}
