body {
	background-color: #212124
}
h1 {
	font-family: Arial;
	text-align:center;
	color: #FFFFFF;
}

h2 {
	font-family: Arial;
	color: #FFFFFF;
}

p {
	color: #FFFFFF;
	font-family: Arial;
}

ul {
	font-family: Arial;
	color: #FFFFFF;
}
